.photo-aligment-left{
    align-items: flex-start;
    align-self: flex-start;
    vertical-align: middle;

}
.title-aligment {
    text-align: center;
    vertical-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.col-1-5{
    grid-column: 1/5;
    grid-row: 1;

}
.col-5-12{
    grid-column: 5/13;
    grid-row: 1;
}
.img-content {
    object-fit: contain;
    max-height:100%; 
    max-width:100%;
}